.side-menu-container {
    position: fixed;
    margin-left: 16px;
}

@media screen and (max-width: 1050px) {
    .side-menu-container {
        position: fixed;
    }
}

@media screen and (max-width: 430px) {
  .side-menu-container {
    margin-left: 0;
  }
}

.address-block button {
    background: transparent;
    border: 0;
    padding: 0;
}
