.side-menu-container {
    position: relative;
}

@media screen and (max-width: 1050px) {
    .side-menu-container {
        position: fixed;
    }
}

@media screen and (max-width: 720px) {
    .side-menu-container {
        position: relative;
    }
}

.address-block button {
    background: transparent;
    border: 0;
    padding: 0;
}
